doctype html
html(lang='ru')
  include ../layouts/head.pug

  body.index.index--1
    header.page-header
      .page-header__wrapper
        .page-header__container
          .page-header__row.page-header__row--top
            a.page-header__logo.logo
              svg(width='154' height='64' aria-label='Логотип Глейси')
                use(xlink:href='img/symbols.svg#logo')
            nav.page-header__main-nav.main-nav
              ul.main-nav__items.main-nav__items--main
                li.main-nav__item.dropdown
                  a.dropdown__toggle.main-nav__link(href='#')
                    | Каталог
                  .dropdown__menu
                    .dropdown__menu-inner
                      ul.main-nav__items.main-nav__items--lvl2.main-nav__items--lvl2-top
                        li.main-nav__item
                          a.main-nav__link(href='#')
                            | Новинки
                      ul.main-nav__items.main-nav__items--lvl2
                        li.main-nav__item
                          a.main-nav__link(href='catalog.html')
                            | Сливочное
                        li.main-nav__item
                          a.main-nav__link(href='#')
                            | Щербеты
                        li.main-nav__item
                          a.main-nav__link(href='#')
                            | Фруктовый лед
                        li.main-nav__item
                          a.main-nav__link(href='#')
                            | Мелорин
                li.main-nav__item
                  a.main-nav__link(href='#')
                    | Доставка и оплата
                li.main-nav__item
                  a.main-nav__link(href='#')
                    | О Компании
            .page-header__menu.header-menu
              .dropdown
                a.dropdown__toggle.header-menu__link.header-menu__link--search(
                  href='#')
                  svg(width='17' height='17')
                    use(xlink:href='img/symbols.svg#icon-loupe')
                  span.visually-hidden
                    | Поиск
                .dropdown__menu
                  .dropdown__menu-inner
                    form.header-menu__search(action='#' method='post')
                      label
                        span.visually-hidden
                          | Поле поиска
                        input.field(type='search' placeholder='Что ищем?')
              .dropdown
                a.dropdown__toggle.header-menu__link(href='#')
                  svg(width='21' height='19')
                    use(xlink:href='img/symbols.svg#icon-entrance')
                  | Вход
                .dropdown__menu
                  .dropdown__menu-inner
                    form.header-menu__login.login(action='#' method='post')
                      label
                        span.visually-hidden
                          | Электронная почта
                        input.field.login__field(
                          type='email'
                          placeholder='Электронная почта')
                      label
                        span.visually-hidden
                          | Пароль
                        input.field.login__field(
                          type='password'
                          placeholder='Пароль')
                      .login__footer
                        button.login__submit.btn(type='submit')
                          | Войти
                        p.login__links
                          a.login__link(href='#')
                            | Забыли пароль?
                          br
                          a.login__link(href='#')
                            | Новая регистрация
              .dropdown
                a.header-menu__link.header-menu__link--basket-empty(href='#')
                  svg(width='21' height='20')
                    use(xlink:href='img/symbols.svg#icon-basket')
                  span
                    | Пусто
          .page-header__row.page-header__row--bottom
            p.page-header__phone
              | с 10 до 20, ежедневно
              br
              a.page-header__phone-number(href='tel:88124502525')
                | 8 812 450-25-25
    main
      .main__wrapper
        .main__container
          h1.visually-hidden
            | Магазин мороженного Глэйси
          include ../components/slider.pug
          include ../components/promotions.pug
          include ../components/best-sellers.pug
          include ../components/info.pug

          .main__row
            .main__column
              include ../components/blog-news.pug

            .main__column
              include ../components/subscription.pug
      include ../components/contacts.pug
    include ../layouts/page-footer.pug
    script(src='js/concatenated.js')
