section.best-sellers
  .best-sellers__container
    h2.visually-hidden
      | Популярное
    .best-sellers__items
      .best-sellers__item.product
        .product__container
          .product__inner
            .product__flag.product__flag--hit
              span.visually-hidden
                | Хит
            .product__img-wrap
              img(
                src='img/product-1.jpg'
                width='267'
                height='267'
                alt='')
            p.product__price.price
              span.price__number
                | 310
              span
                |
                | &#8381;
              span.visually-hidden
                | рублей
              span.price__measure
                | /кг
          h3.product__title
            a.product__link(href='#')
              | Сливочное с апельсиновым джемом и цитрусовой стружкой
          a.product__fast-look.btn(href='#')
            | Быстрый просмотр
      .best-sellers__item.product
        .product__container
          .product__inner
            .product__flag.product__flag--hit
              span.visually-hidden
                | Хит
            .product__img-wrap
              img(
                src='img/product-2.jpg'
                width='267'
                height='267'
                alt='')
            p.product__price.price
              span.price__number
                | 380
              span
                |
                | &#8381;
              span.visually-hidden
                | рублей
              span.price__measure
                | /кг
          h3.product__title
            a.product__link(href='#')
              | Сливочно-кофейное с кусочками шоколада
          a.product__fast-look.btn(href='#')
            | Быстрый просмотр
      .best-sellers__item.product
        .product__container
          .product__inner
            .product__flag.product__flag--hit
              span.visually-hidden
                | Хит
            .product__img-wrap
              img(
                src='img/product-3.jpg'
                width='267'
                height='267'
                alt='')
            p.product__price.price
              span.price__number
                | 355
              span
                |
                | &#8381;
              span.visually-hidden
                | рублей
              span.price__measure
                | /кг
          h3.product__title
            a.product__link(href='#')
              | Сливочно-клубничное с присыпкой из белого шоколада
          a.product__fast-look.btn(href='#')
            | Быстрый просмотр
      .best-sellers__item.product
        .product__container
          .product__inner
            .product__flag.product__flag--hit
              span.visually-hidden
                | Хит
            .product__img-wrap
              img(
                src='img/product-4.jpg'
                width='267'
                height='267'
                alt='')
            p.product__price.price
              span.price__number
                | 415
              span
                |
                | &#8381;
              span.visually-hidden
                |
                | рублей
              span.price__measure
                | /кг
          h3.product__title
            a.product__link(href='#')
              | Сливочное крем-брюле с карамельной подливкой
          a.product__fast-look.btn(href='#')
            | Быстрый просмотр
