form.catalog-form(action='#' method='get')
  .catalog-form__row
    fieldset.catalog-form__filters-group
      legend.catalog-form__filters-title
        | Сортировка:
      .catalog-form__filters-inner.catalog-form__filters-inner--select
        .catalog-form__select
          select.catalog-form__select-picker
            option
              | По популярности
            option
              | Сначала недорогие
            option
              | Сначала дорогие
            option
              | По жирности
    fieldset.catalog-form__filters-group
      legend.catalog-form__filters-title
        | Цена:
        |
        span.visually-hidden
          | От
        span
          | 100
        |
        | руб. -
        |
        span.visually-hidden
          | До
        span
          | 500
        |
        | руб.
      .catalog-form__filters-inner
        .range-filter
          .range-filter__scale
            .range-filter__bar(
              style='margin-left: 10%; width: 60%;')
            .range-filter__toggle.range-filter__min-toggle
            .range-filter__toggle.range-filter__max-toggle
    fieldset.catalog-form__filters-group
      legend.catalog-form__filters-title
        | Жирность:
      .catalog-form__filters-inner
        .inputbox.inputbox--radio
          input.inputbox__input(
            type='radio'
            id='zero'
            name='fat-content')
          label.inputbox__label(for='zero')
            span
              | 0%
        .inputbox.inputbox--radio
          input.inputbox__input(
            type='radio'
            id='to-10'
            name='fat-content'
            checked)
          label.inputbox__label(for='to-10')
            span
              | До 10%
        .inputbox.inputbox--radio
          input.inputbox__input(
            type='radio'
            id='to-30'
            name='fat-content')
          label.inputbox__label(for='to-30')
            span
              | До 30%
        .inputbox.inputbox--radio
          input.inputbox__input(
            type='radio'
            id='above-30'
            name='fat-content')
          label.inputbox__label(for='above-30')
            span
              | Выше 30%
  .catalog-form__row
    fieldset.catalog-form__filters-group
      legend.catalog-form__filters-title
        | Наполнители:
      .catalog-form__filters-inner
        .inputbox.inputbox--check
          input.inputbox__input(
            type='checkbox'
            id='chocolate'
            checked)
          label.inputbox__label(for='chocolate')
            | Шоколадные
        .inputbox.inputbox--check
          input.inputbox__input(
            type='checkbox'
            id='sugar-powders'
            checked)
          label.inputbox__label(for='sugar-powders')
            | Сахарные присыпки
        .inputbox.inputbox--check
          input.inputbox__input(
            type='checkbox'
            id='fruit')
          label.inputbox__label(for='fruit')
            | Фрукты
        .inputbox.inputbox--check
          input.inputbox__input(
            type='checkbox'
            id='syrups')
          label.inputbox__label(for='syrups')
            | Сиропы
        .inputbox.inputbox--check
          input.inputbox__input(
            type='checkbox'
            id='jams')
          label.inputbox__label(for='jams')
            | Джемы
    button.catalog-form__submit(type='submit')
      | Применить
