section.contacts
  .contacts__wrapper
    .contacts__container
      .contacts__inner
        h2.visually-hidden
          | Контакты
        .contacts__content
          address.contacts__address
            p.contacts__content-row
              | Адрес главного офиса
              br
              | и офлайн-магазина:
              br
              b
                | ул. Большая Конюшенная
                br
                | 19/8, Санкт-Петербург
            p.contacts__content-row
              | Для заказов по телефону:
              br
              b
                a.contacts__phone(href='tel:88124502525')
                  | 8 812 450-25-25
              br
              | (с 10 до 20 ежедневно)
          a.contacts__btn.btn(href='#')
            | Форма обратной связи
    section.contacts__feedback.feedback
      h3.feedback__title
        | Мы обязательно вам ответим!
      form.feedback__form(action='#' method='post')
        .feedback__items
          .feedback__item
            label
              span.visually-hidden
                | Имя
              input.feedback__field.field(
                type='text'
                name='name'
                placeholder='Как вас зовут?')
          .feedback__item
            label
              span.visually-hidden
                | Электронная почта
              input.feedback__field.field(
                type='email'
                name='email'
                placeholder='Ваша почта для ответа?')
          .feedback__item
            label
              span.visually-hidden
                | Поле для текста
              textarea.feedback__field.field(
                name='message'
                placeholder='Напишите что-нибудь...')
        button.feedback__send.btn(type='submit')
          | Отправить
      button.feedback__close(type='button')
        span.visually-hidden
          | Закрыть
    .modal__overlay
  .contacts__map
    iframe(
      src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.6036253002965!2d30.326437710962153!3d59.9387191690544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x42b32648d8238007!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LzgsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTExODY!5e0!3m2!1sru!2sru!4v1544571564035'
      width='1200'
      height='428'
      style='border:0'
      allowfullscreen='')
    .contacts__map-img-wrap
      img(
        src='img/map.jpg'
        width='1200'
        height='428'
        alt='Офис компании по адресу ул. Большая Конюшенная 19/8, Санкт-Петербург')
